@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Comfortaa', cursive;
   font-weight: 700;
}

header{
   text-align: center;
   border: 1px solid black;
   padding: 50px 0px 60px 0px;
   
}

main{
   width: 65%;
   margin: auto;
   border: 1px solid black;
}

main p{
   text-align: center;
}
