@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-weight: 700;
}

header{
   padding: 50px 0px 60px 0px;
}

.title-container{
   text-align: center;
   color: #E53170;
   font-family: 'Fredoka', sans-serif;
   width: 65%;
   margin: auto;
}

.p-container p{
   text-align: center;
   margin-bottom: 50px;
}

main{
   font-family: 'Comfortaa', cursive;
   width: 65%;
   margin: auto;
}

.container-flexbox{
   display: flex;
   flex-direction: row; 
   justify-content: space-between;  
}

.card-img img{
   width: 100px;
   height: 100px;
   margin-right: 15px;
   border-radius: 4px;
   box-shadow: 2px 2px 2px;
}

.card-container{
   display: flex;
   flex-direction: row;
   background-color: #0F0E17;
   width: 370px;
   margin-bottom: 30px;
   border-radius: 4px;
   box-shadow: 2px 2px 15px;
}

.infos{
   color: white;
   line-height: 30px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.name{
   font-family: 'Fredoka', sans-serif;
}

.email{
   color: #21C5E0;
   font-size: 0.8rem;
}

.role{
   font-size: 0.9rem;
}
